<div class="top-nav-guide">
  <span>{{ title }}</span>
</div>
<top-app-info></top-app-info>
<div class="row">
  <div class="col-7">
    <nb-card class="top">
      <nb-card-header>
        <span>Security Analysis Overview</span>
        <div class="total-issues">
          <span>44 Issues</span>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="sec-overview">
          <div class="row">
            <div class="col-4">
              <div class="title">
                <span>Manifest Overview</span>
              </div>
            </div>
            <div class="col-8">
              <div class="issues">
                <div class="total">
                  <h3>23</h3>
                  <h4>Total Issues</h4>
                </div>
                <div class="issues-sep">
                  <div class="issue-sep high">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>4 Issues</span></div>
                  </div>
                  <div class="issue-sep medium">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>12 Issues</span></div>
                  </div>
                  <div class="issue-sep low">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>44 Issues</span></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sec-overview">
          <div class="row">
            <div class="col-4">
              <div class="title">
                <span>Code Analysis</span>
              </div>
            </div>
            <div class="col-8">
              <div class="issues">
                <div class="total">
                  <h3>23</h3>
                  <h4>Total Issues</h4>
                </div>
                <div class="issues-sep">
                  <div class="issue-sep high">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>4 Issues</span></div>
                  </div>
                  <div class="issue-sep medium">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>12 Issues</span></div>
                  </div>
                  <div class="issue-sep low">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>44 Issues</span></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sec-overview">
          <div class="row">
            <div class="col-4">
              <div class="title">
                <span>File Analysis</span>
              </div>
            </div>
            <div class="col-8">
              <div class="issues">
                <div class="total">
                  <h3>23</h3>
                  <h4>Total Issues</h4>
                </div>
                <div class="issues-sep">
                  <div class="issue-sep high">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>4 Issues</span></div>
                  </div>
                  <div class="issue-sep medium">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>12 Issues</span></div>
                  </div>
                  <div class="issue-sep low">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>44 Issues</span></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sec-overview">
          <div class="row">
            <div class="col-4">
              <div class="title">
                <span>Binary Analysis</span>
              </div>
            </div>
            <div class="col-8">
              <div class="issues">
                <div class="total">
                  <h3>23</h3>
                  <h4>Total Issues</h4>
                </div>
                <div class="issues-sep">
                  <div class="issue-sep high">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>4 Issues</span></div>
                  </div>
                  <div class="issue-sep medium">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>12 Issues</span></div>
                  </div>
                  <div class="issue-sep low">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>44 Issues</span></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sec-overview">
          <div class="row">
            <div class="col-4">
              <div class="title">
                <span>App Permissions</span>
              </div>
            </div>
            <div class="col-8">
              <div class="issues">
                <div class="total">
                  <h3>23</h3>
                  <h4>Total Issues</h4>
                </div>
                <div class="issues-sep">
                  <div class="issue-sep high">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>4 Issues</span></div>
                  </div>
                  <div class="issue-sep medium">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>12 Issues</span></div>
                  </div>
                  <div class="issue-sep low">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <div class="issue-count"><span>44 Issues</span></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sec-overview-more">
          <div class="more">
            <span>Show more</span>
          </div>
        </div>
      </nb-card-body>

    </nb-card>
  </div>
  <div class="col-5">
    <nb-card class="top malware">
      <nb-card-header>
        <span>Malware Analysis Overview</span>
        <div class="total-issues">
          <span>44 Issues</span>
        </div>
        <div class="issues-severity">
          <div class="malware-title">
            <span>Issues Severity</span>
          </div>
          <div class="malware-bar">
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <div class="domain-title">
              <span>Domain Malware Analysis</span>
              <div class="domain-filter">
                <span>Show: </span>
                <select>
                  <option value="0">Map Chart</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-12">
            <ngx-country-domains></ngx-country-domains>
          </div>
          <div class="col-12">
            <div class="domain-name">
              <div class="domain-name-title">
                <span>rapidpassph.firebaseio.com</span>
              </div>
              <div class="domain-name-severity bad">
                <span>Bad</span>
              </div>
            </div>
            <div class="domain-name">
              <div class="domain-name-title">
                <span>rapidpassph.firebaseio.com</span>
              </div>
              <div class="domain-name-severity bad">
                <span>Bad</span>
              </div>
            </div>
            <div class="domain-name">
              <div class="domain-name-title">
                <span>rapidpassph.firebaseio.com</span>
              </div>
              <div class="domain-name-severity bad">
                <span>Bad</span>
              </div>
            </div>
            <div class="sec-overview-more">
              <div class="more">
                <span>Show more</span>
              </div>
            </div>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-7">
    <nb-card class="bottom component">
      <nb-card-header>
        <span>Components</span>
      </nb-card-header>
      <nb-card-body>
        <div class="components">
          <div class="row">
            <div class="col-4">
              <div class="components-name article">
                <div class="components-name-title">
                  <div class="counter"><span>344</span></div>
                  <div class="name"><span>Activities</span></div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="components-export">
                <div class="components-export-title">
                  <div class="counter"><span>8</span></div>
                  <div class="name"><span>exports</span></div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="components-view">
                <span>View</span>
              </div>
            </div>
          </div>
        </div>
        <div class="components">
          <div class="row">
            <div class="col-4">
              <div class="components-name service">
                <div class="components-name-title">
                  <div class="counter"><span>344</span></div>
                  <div class="name"><span>Services</span></div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="components-export">
                <div class="components-export-title">
                  <div class="counter"><span>8</span></div>
                  <div class="name"><span>exports</span></div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="components-view">
                <span>View</span>
              </div>
            </div>
          </div>
        </div>
        <div class="components">
          <div class="row">
            <div class="col-4">
              <div class="components-name receiver">
                <div class="components-name-title">
                  <div class="counter"><span>344</span></div>
                  <div class="name"><span>Receivers</span></div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="components-export">
                <div class="components-export-title">
                  <div class="counter"><span>8</span></div>
                  <div class="name"><span>exports</span></div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="components-view">
                <span>View</span>
              </div>
            </div>
          </div>
        </div>
        <div class="components">
          <div class="row">
            <div class="col-4">
              <div class="components-name provider">
                <div class="components-name-title">
                  <div class="counter"><span>344</span></div>
                  <div class="name"><span>Providers</span></div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="components-export">
                <div class="components-export-title">
                  <div class="counter"><span>8</span></div>
                  <div class="name"><span>exports</span></div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="components-view">
                <span>View</span>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-5">
    <nb-card class="bottom">
      <nb-card-header>
        <span>Reconnaissance</span>
        <div class="total-issues">
          <span>44 Issues</span>
        </div>
        <div class="select-reco">
          <div class="domain-filter">
            <span>Show: </span>
            <select>
              <option value="1">Trackers</option>
            </select>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="trackers">
          <div class="tracker-container">
            <div class="tracker high">
              <span>Facebook Analysis</span>
            </div>
          </div>
        </div>

        <div class="sec-overview-more">
          <div class="more">
            <span>Show more</span>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
